.flex {
  display: -webkit-flex;
  display: flex
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column
}
.text-center { text-align: center }
.hand { cursor: pointer }
.hide { display: none }
